.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.pull-center {
  margin: 0 auto;
}
.pull-center-force {
  display: table;
  margin: 0 auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-size: 2em;
}
body {
  background: #333;
  font-family: 'Playfair Display', serif;
  color: #131316;
  -moz-text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.1);
  -webkit-text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.1);
  text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 2em;
}
